.location-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.location-container h1 {
    color: rgb(9, 72, 9);
    font-size: 45px;
    margin-bottom: 40px;
}

.location-heading {
    display: flex;
    align-items: center;
    gap: 8px;
}

.locations {
    display: flex;
    flex-direction: row;
    gap: 60px;
    width: 90%;
}

.first-location {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.42) 0px 0px 35px 0px;
    background-color: white;
    border-radius: 30px;
}

.location-name {
    color: rgb(9, 72, 9);
    font-size: 30px;
}

.location-image {
    height: 25px;
    width: 25px;

}

.second-location {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.42) 0px 0px 35px 0px;
    background-color: white;
    border-radius: 30px;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.location-address {
    font-size: 20px;
    line-height: 24px;
    font-family: Roboto;
    margin-bottom: 15px;
    text-align: center;
    padding: 0px 50px;
}

.location-map {
    width: 100%;
    height: 500px;
}

@media screen and (max-width: 480px) {
    .location-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .locations {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 60px;
        width: 90%;
    }
    
    .first-location {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 30px;
        width: 84%;
        box-shadow: rgba(0, 0, 0, 0.42) 0px 0px 35px 0px;
        background-color: white;
        border-radius: 30px;
    }
    
    .location-name {
        color: rgb(9, 72, 9);
        font-size: 30px;
    }
    
    .location-image {
        height: 25px;
        width: 25px;
    
    }
    
    .second-location {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 30px;
        width: 84%;
        box-shadow: rgba(0, 0, 0, 0.42) 0px 0px 35px 0px;
        background-color: white;
        border-radius: 30px;
    }
    
    .address {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-bottom: 15px;
    }
    
    .location-address {
        font-size: 20px;
        line-height: 24px;
        font-family: Roboto;
        margin-bottom: 15px;
        text-align: left;
        padding: 0px 10px;
    }
    
    .location-map {
        width: 100%; 
        height: 250px;
    }
}