.details-modal-close {
    cursor: pointer;
    position: relative;
    top: -55%;
    right: -4%;
}

.details-modal-overlay {
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: #F84365;
    padding: 40px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
}

.details-modal-overlay p{
    font-family: sans-serif;
    font-size: 18px;
    color: white;
}
.modal-overlay{
    position: fixed; /* Fixed to the viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Centers the modal horizontally and vertically */
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}